<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- TODO description metadata <meta name="description" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FIXME: chosen slogan goes here -->
    <!-- FIXME: switch to multi page template if possible, should load faster -->
    <!-- TODO: always caps for bazingo or not? -->
    <title>BAZINGO! - Bingo for bad movies.</title>
    <link rel="stylesheet" href="css/style.css">
</head>