<div data-role="page" class="board" id="board">
    <div data-role="content" class="board">
        <table class="board">
            <tbody>
            <tr>
                <td class="three"></td>
                <td class="one"></td>
                <td class="two"></td>
                <td class="one"></td>
                <td class="three"></td>
            </tr>
            <tr>
                <td class="one"></td>
                <td class="three"></td>
                <td class="two"></td>
                <td class="three"></td>
                <td class="one"></td>
            </tr>
            <tr>
                <td class="two"></td>
                <td class="two"></td>
                <td id="freeCell"></td>
                <td class="two"></td>
                <td class="two"></td>
            </tr>
            <tr>
                <td class="one"></td>
                <td class="three"></td>
                <td class="two"></td>
                <td class="three"></td>
                <td class="one"></td>
            </tr>
            <tr>
                <td class="three"></td>
                <td class="one"></td>
                <td class="two"></td>
                <td class="one"></td>
                <td class="three"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>