/* MAIN STYLE.CSS */

/* PLUGINS */
@import '../javascripts/jquery-mobile/jquery.mobile-1.4.2.css';
@import 'jquery-mobile-override.css';
/* TODO: CSS BUTTON STYLES http://tympanus.net/Development/CreativeButtons/ -
Test them out on all the devices first. Might not really be useful on mobile.
*/

/* BASIC */
@import 'layout.css';
@import 'type.css';
@import 'misc.css';

/*html, body {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

table.board {
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

table.board tbody td {
    border: 2px #666666 solid;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

table.board .enabled {
    background-color: #945792;
}

.board {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

