html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.boardTable {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.boardTable tbody td {
    border: 2px rgba(211, 211, 221, 255) solid;
    padding: 4px;
    height: 20%;
    width: 20%;
    background: #F0EFFF;
    color: #A26BB4;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.boardTable tbody tr td div {
    overflow: auto;
}

.boardTable .enabled {
    background-color: #C2C3E6;
}

.boardTable td[class*="win"] {
    background-color: #e673e3;
}

.toHide {
    display: none;
    margin: 10px;
}
