<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>
<body>
<h1>BAZINGO!</h1>
<p>What genre would you like to watch?</p>
<ul id="category-list">
    <% Object.keys(locals.categories).forEach(function(i){ %>
    <li><a href="board?category=<%= i %>"><%= i %></a></li>
    <% }); %>
</ul>
</body>
</html>