<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<h1>BAZINGO!</h1>

<p><b>Step 1</b>: What's the genre of the movie you're watching?</p>
<ul data-role="listview"
    id="category-list"
    data-filter="true"
    data-filter-placeholder="Search Genres..."
    data-inset="true">
    <% Object.keys(locals.categories).forEach(function(i){ %>
    <li><a href="board?category=<%= i %>"><%= i %></a></li>
    <% }); %>
</ul>

</body>
</html>