<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<div data-role="page" id="categoryPage">
    <div data-role="header">
        <h1>BAZINGO!</h1>
    </div>

    <div data-role="content">
        <p><b>Step 1</b>: Get a movie ready to watch.</p>

        <p><b>Step 2</b>: Figure out its genre and click it below.</p>

        <p><b>Step 1</b>: Get a movie ready to watch. After you have the movie, figure out its genre and click on it
            below.</p>

        <p><b>Step 1</b>: Get a movie ready to watch. After you have the movie, click on its genre below.</p>

        <p><b>Step 1</b>: Click on the genre of the movie you're watching below.</p>

        <p><b>Step 1</b>: What's the genre of the movie your watching?</p>
        <ul data-role="listview"
            id="category-list"
            data-filter="true"
            data-filter-placeholder="Search Genres..."
            data-inset="true">
            <% Object.keys(locals.categories).forEach(function(i){ %>
            <li><a href="board?category=<%= i%>"><%= i%></a></li>
            <% }); %>
        </ul>
    </div>

    <div data-role="footer">
        <h4>&nbsp;</h4>
    </div>
</div>
</body>
<%- include postBody.ejs %>
</html>