<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- TODO description metadata <meta name="description" content=""> -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">

<!-- FIXME: chosen slogan goes here -->
<!-- FIXME: switch to multi page template if possible, should load faster -->
<!-- TODO: always caps for bazingo or not? -->
<title>BAZINGO! - Bingo for bad movies.</title>
