<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<div data-role="page" id="homePage">
    <div data-role="header">
    </div>

    <div data-role="content">
        <h1>BAZINGO!</h1>

        <h2>Bingo for bad movies.</h2>

        <h2>Bazingo is a bingo game for clich&egrave; movies and TV shows.</h2>

        <h2>A bingo game for clich&egrave; movies and TV shows.</h2>

        <p>You pick a clich&egrave; movie to watch, and we create a bingo board with clich&egrave; actions and phrases
            on it. As you watch the movie, check off your squares as they occur!</p>

        <p>Also, the game is <i>way</i> more fun with a group of people.</p>
        <a href="categoryPage" class="ui-btn ui-shadow">Play</a>
    </div>

    <div data-role="footer">
    </div>
</div>
<%- include postBody.ejs %>
</body>
</html>