<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>
<body>
<h1>BAZINGO!</h1>

<h2>A bingo game for clich&egrave; movies and TV shows.</h2>
<a href="categoryPage">Play</a>
</body>
</html>