<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>
<body>
<h1>BAZINGO!</h1>

<h2>A bingo game for clich&egrave; movies and TV shows.</h2>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> and <strong>unsupported</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> before you play.</p>
<![endif]-->
<a href="categoryPage">Play</a>
</body>
</html>