<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<div data-role="page" id="homePage">
    <div data-role="header">
    </div>

    <div data-role="content">
        <h1>BAZINGO!</h1>

        <h2>A bingo game for clich&egrave; movies and TV shows.</h2>
        <a href="categoryPage" class="ui-btn ui-shadow">Play</a>
    </div>

    <div data-role="footer">
    </div>
</div>
<%- include postBody.ejs %>
</body>
</html>