<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<h1>BAZINGO!</h1>

<h2>A bingo game for clich&egrave; movies and TV shows.</h2>
<a href="categoryPage">Play</a>
<%- include postBody.ejs %>
</body>
</html>